/* Empty. Add your own CSS if you like */

img {
    border-radius: 25%;
    max-width: 100%;
}


img.author {
    border-radius: 90%;
    max-width: 100%;
}

.boton2{
background-color: #2dc234;
background-image: -webkit-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -moz-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -o-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
-ms-border-radius:8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
-moz-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
color: #fff;
display: inline-block;
font-family: ‘Pacifico’, Arial, sans-serif;
font-size: 30px;
line-height: 1;
padding: 15px 25px;
text-decoration: none;
text-shadow: 0 -1px 1px rgba(25, 123, 29, .7);
}


ion-content{
	background-color: green;
	background: url('../img/pianoFondo.jpeg');
	background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    z-index: 2;
    position: relative;
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.item-complex .item-content { background-color: #b3ffb3 !important; color:black; }

.odd {
  color: red !important;
}

form.lista{
  background-color: #262B32 !important; color:white; 
}

label.lista{
  background-color: #262B32 !important; color:white; 
}

span.lista{
  background-color: #262B32 !important; color:white; 
}

input.lista{
  background-color: #262B32 !important; color:white; 
}

h3.menutitle {
  color:white;
}



.bar-stable.bar-header, div.tab-nav.tabs{
    background-color:#b3ffb3 !important;
}

div.title.title-center.header-item, ion-header-bar, div.tab-nav.tabs i, div.tab-nav.tabs span{
    color:black;
}

form {
  text-align: center;
  vertical-align: middle;
}