<ion-view view-title="Login">
  <ion-content>
    <form class="lista">
      <div>
        <label class="item item-input lista">
          <span class="input-label lista">Username</span>
          <input class="lista" type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input lista">
          <span class="input-label lista">Password</span>
          <input class="lista" type="password" ng-model="loginData.password">
        </label>
        <label class="item lista">
          <button  class="button button-block button-positive lista" ng-click="loguear()">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>






