<ion-view view-title="Piano Temático" class="center">
  <ion-content>

<div class = "row">
   <div class = "col col-100 col-top"><img  ng-src="{{caballo}}" ng-click="reproducirSonido('caballo', true)"></img></div>
   <div class = "col col-100 col-top"><img  ng-src="{{leon}}" ng-click="reproducirSonido('leon', true)"></img></div>
   <div class = "col col-100 col-top"><img  ng-src="{{becerro}}" ng-click="reproducirSonido('becerro', true)"></img></div>
</div>
<div class = "row">
   <div class = "col col-100 col-top"><img  ng-src="{{pajarito}}" ng-click="reproducirSonido('pajarito', true)"></img></div>
   <div class = "col col-100 col-top"><img  ng-src="{{oveja}}" ng-click="reproducirSonido('oveja', true)"></img></div>
   <div class = "col col-100 col-top"><img  ng-src="{{gallo}}" ng-click="reproducirSonido('gallo', true)"></img></div>
 </div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinnerJugar"></span>

<div class="row row-bottom">
  <div class="col"><a class="button icon-right ion-chevron-right button-dark" ng-click="leer()">Reproducir</a></div>
</div>
  </ion-content>
</ion-view>
