<ion-view view-title="Piano Temático" class="center">
  <ion-content>

<div class = "row">
   <div class = "col col-100 col-top"><button class="button button-full button-positive" ng-click="reproducirSonido('caballo')">Caballo</button></div>
   <div class = "col col-100 col-top"><button class="button button-full button-balanced" ng-click="reproducirSonido('leon')">Leon</button></div>
   <div class = "col col-100 col-top"><button class="button button-full button-calm" ng-click="reproducirSonido('becerro')">Becerro</button></div>
</div>
<div class = "row">
   <div class = "col col-100 col-top"><button class="button button-full button-energized" ng-click="reproducirSonido('pajarito')">Pajarito</button></div>
   <div class = "col col-100 col-top"><button class="button button-full button-assertive" ng-click="reproducirSonido('oveja')">Oveja</button></div>
   <div class = "col col-100 col-top"><button class="button button-full button-royal" ng-click="reproducirSonido('gallo')">Gallo</button></div>
 </div>

<div class="row row-bottom"></div>
<div class="row row-bottom"></div>
<div class="row row-bottom"></div>
<div class="row row-bottom">
  <div class="col"><a class="button icon-right ion-chevron-right button-dark">Reproducir</a></div>
</div>
  </ion-content>
</ion-view>
