<ion-view view-title="Piano Temático" class="center">
  <ion-content>

<div class = "row">
   <div class = "col col-100 col-top"><button class="button button-full button-positive">Sonido 1</button></div>
   <div class = "col col-100 col-top"><button class="button button-full button-balanced">Sonido 2</button></div>
   <div class = "col col-100 col-top"><button class="button button-full button-calm">Sonido 3</button></div>
</div>
<div class = "row">
   <div class = "col col-100 col-top"><button class="button button-full button-energized">Sonido 4</button></div>
   <div class = "col col-100 col-top"><button class="button button-full button-assertive">Sonido 5</button></div>
   <div class = "col col-100 col-top"><button class="button button-full button-royal">Sonido 6</button></div>
 </div>

  </ion-content>
</ion-view>
